name: flash_card
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  card_swiper: ^3.0.1
  flutter:
    sdk: flutter
  get: ^4.7.3
  intl: ^0.20.2
  timeago: ^3.7.1
  webview_flutter: ^4.13.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/logo.png